body {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#a2d2ff, #EFB0C9);
    color: #ffffff;
    margin: 0;
    padding: 0;
}

h2 {
    background: #ffcccb;
    padding: 10px 15px;
    border-radius: 10px;
    display: inline-block;
    color: #333;
}

#profile-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
}

.gift-section {
    margin-top: 30px;
    padding: 10px;
}

.gift-img {
    width: 90%;
    max-width: 400px;
    height: auto;
    aspect-ratio: 1;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    cursor: pointer;
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.photo {
    width: 45%;
    max-width: 180px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}